<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyphal Monitor</title>
    <link rel="icon" type="image/svg+xml" href="/static/images/can.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id="controls-container">
        <div id="can-interface-panel">
            <label for="can-interface-dropdown">CAN Interfaces</label>
            <select id="can-interface-dropdown">
                <option value="">Loading...</option>
            </select>
        </div>
        <div id="can-bitrate-panel">
            <label for="can-bitrate-dropdown">Bitrate</label>
            <select id="can-bitrate-dropdown">
                <option value="1000000">1000 Kbps</option>
                <option value="800000">800 Kbps</option>
                <option value="500000">500 Kbps</option>
                <option value="250000">250 Kbps</option>
                <option value="125000">125 Kbps</option>
                <option value="100000">100 Kbps</option>
                <option value="50000">50 Kbps</option>
                <option value="20000">20 Kbps</option>
                <option value="10000">10 Kbps</option>
            </select>
        </div>
        <div class="wait-clock-container">
            <img id="wait-clock" src="/static/images/sand-clock-loader.gif" alt="Loading..." style="display: none;">
        </div>
        <div id="button-panel">
            <button id="start-button">Start</button>
            <button id="stop-button">Stop</button>
        </div>
        <div id="update-rate-panel">
            <label for="update-rate-slider">Update Rate</label>
            <input type="range" id="update-rate-slider" min="0" max="9" value="1" step="1">
            <span class="slider-value"></span>
            <select id="update-rate-select" style="display: none;">
                <option value="1000" selected>1 s</option>
                <option value="3000">3 s</option>
                <option value="5000">5 s</option>
                <option value="10000">10 s</option>
                <option value="30000">30 s</option>
                <option value="60000">1 m</option>
                <option value="180000">3 m</option>
                <option value="300000">5 m</option>
                <option value="600000">10 m</option>
                <option value="never">never</option>
            </select>
        </div>
        <div id="collapse-all-panel">
            <button id="collapse-all-button">Collapse All</button>
        </div>
    </div>
    <div id="nodeTable"></div>
    <script src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>